/* event */

.events{
    
    display: flex;
}
.event-item{
    flex: 1;
    margin-right: 35px;
}

.event-img{
    position: relative;
    width: 350px;
    height: 270px;
}

.event-img img{
    width: 100%;
    height: 100%;
   
}

.event-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.event-info{
    background: #f7f3ef;
    padding: 20px;
    position: relative;
    flex: 3;
}

.event-info .top{
    position: relative;
    padding-left: 100px;
    margin-bottom: 50px;
}

.event-info .top .event-info-number,
.event-info .top span{
    position: absolute;
    color: var(--main-color);
    left: 0;
}


.event-info .top .event-info-number
{ 
    top: 0;
    font-size: 30px;
    
}

.event-info .top span{
   
    top:30px;
    

}

.event-info-title{
    text-transform: capitalize;
}

.event-info .top+p{
    line-height: 1.7;
    color: gray;
}

/* clients */
.clients{
    display: flex;
    text-align: center;
}

.client-item{
    flex: 1;
}